@import url("../../css/variables.css");

#employeeRegister {
    background-color: var(--white-color);
    display: flex;
    height: 100dvh;
    width: 100%;

    & .left-box {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 80%;
        }
    }

    & .right-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .top-logo-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            & .logo-box {
                width: 100%;
                display: flex;
                justify-content: center;

                & a {
                    width: 25%;
                    min-width: 140px;

                    & img {
                        width: 100%;
                    }
                }
            }

            & .titles-box {
                width: 80%;
                margin: 20px;

                & h1 {
                    margin: 0;
                    color: var(--dark-blue-color);
                    text-align: center;
                    font-size: 48px;
                    text-transform: uppercase;
                }

                & h2 {
                    text-align: center;
                    color: var(--black-color);
                    font-size: 24px;
                    font-weight: lighter;
                    margin: 5px;
                }
            }
        }

        & .register-box {
            background-color: var(--light-blue-color);
            margin: 0 20px;
            padding: 15px;
            width: 80%;
            border-radius: 12px;
            -webkit-box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.75);

            & .form-box {
                display: flex;
                flex-direction: column;
                row-gap: 15px;

                & .form-floating {
                    
                    & input {
                        border-radius: 12px;
                        padding: 16px 10px 4px 10px;
                        background-color: var(--white-color);

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        &:focus {
                            box-shadow: none;
                            border: none;
                        }
                    }

                    & label::after {
                        background-color: transparent;
                    }
                }
                
                & .button-box {
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    & button {
                        background-color: var(--dark-blue-color);
                        border-radius: 8px;
                        padding: 8px 48px;
                        font-size: 18px;
                        text-transform: uppercase;
                        font-weight: bold;
                        border: 3px solid var(--white-color);
                        transition: 250ms ease-in-out;
                        color: var(--white-color);

                        &:hover {
                            background-color: var(--medium-blue-color);
                        }
                    }
                }
            }

            & .login-redirect-box {
                margin-top: 15px;
                display: flex;
                justify-content: center;
                gap: 20px;
                align-items: center;

                & span {
                    font-size: 14px;
                    font-weight: 600;
                }

                & a {
                    background-color: var(--medium-orange-color);
                    color: var(--black-color);
                    border: none;
                    padding: 5px 20px;
                    border-radius: 8px;
                    transition: 250ms ease-in-out;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;
                        background: var(--black-color);
                        color: var(--white-color);
                    }
                }
            }
        }
    }
}
