/* CSS para dashboard-horario */
#selfClockinPage {
    background-color: var(--black-color-primary);
    min-height: 100dvh;

    & #periodSearch > div {
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        margin: 1em 0;

        & .periodText {
            display: flex;
            column-gap: 8px;
            color: var(--white-color-primary);

            & p {
                margin: 0;
                font-weight: 600;
            }
        }


        & button.previousWeek,
        & button.nextWeek {
            width: 30px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: var(--blue-color-primary);
            color: var(--white-color-primary);
            border: 1px solid var(--white-color-primary);
            display: flex;
            align-items: center;
            justify-content: center;

            &:active {
                background-color: var(--light-blue-color);
            }
        }

        & .addClockinBtn {
            border: 2px solid var(--white-color-primary);
            font-size: 16px;
            display: fle;
            color: var(--white-color-primary);
        }
    }

    & #employeeClockinContainer {

        & #message {
            position: relative;
            top: 5em;
            left: 50%;
            transform: translateX(-50%);
            color: var(--white-color-primary);
        }

        & #clockinsContainer {
            height: 80dvh;
            overflow: auto;
            display: flex;
            align-items: center;
            width: 100%;
            align-items: start;
            padding: 5px;
            column-gap: 8px;
            scrollbar-width: thin;

            & .day-container {
                min-width: 220px;
                width: 14.7%;
                height: calc(75dvh - 16px);
                background-color: var(--black-color-secondary);
                border: 1px solid #000;
                border-radius: 8px;
                padding: 8px;
                gap: 8px;
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: orange;

                

                &.today {
                    background-color: #4F4F4F;
                }

                & .day-title {
                    text-align: center;
                    font-weight: 600;
                    font-size: 14px;
                    margin: 8px 0 0 0;
                    color: var(--white-color-primary);
                }

                & .card {
                    width: 100%;
                    background-color: var(--black-color-primary);
                    border: 1px solid var(--black-color-primary);

                    &:hover {
                        background-color: var(--black-color-secondary);
                        cursor: pointer;
                    }

                    & .card-body {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        padding: 8px;

                        & h6 {
                            font-size: 18px;
                            font-weight: bold;
                            margin: 0;
                            background-color: var(--orange-color-secondary);
                            border-radius: 4px;
                            padding: 3px 6px;
                        }

                        & .card-details {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            margin-top: 8px;

                            & small {
                                color: var(--white-color-primary);
                                font-weight: 600;
                            }

                            & .badge {
                                background-color: var(--black-color-secondary);
                            }
                        }
                    }
                }
            }
        }
    }
}