<section id="pageSection">
    <div id="selfClockinPage">
        <div class="page-title">
            <div data-component="sidebar"></div>
            <h1>
                Meus Horários
            </h1>
        </div>
        <div class="container-fluid">
            <div id="periodSearch" class="row">
                <div class="col-auto d-flex">
                    <button type="button" id="backWeek" class="previousWeek">
                        <i class="bi bi-chevron-bar-left"></i>
                    </button>
                    <span class="periodText">
                        <p id="backward"></p>
                        <span> - </span>
                        <p id="current"></p>
                    </span>
                    <button type="button" id="nextWeek" class="nextWeek">
                        <i class="bi bi-chevron-bar-right"></i>
                    </button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-secondary" id="refreshButton">
                        <i class="bi bi-arrow-counterclockwise"></i>
                    </button>
                </div>
                <!-- SELEÇÃO DA SEMANA DE BUSCA -->
            </div>
            <div id="employeeClockinContainer" class="row">
                <p class="h3 text-center m-0" id="message">Busque os horários pelo registro...</p>
                <div id="clockinsContainer" class="gy-2">
                    <!-- CARDS DE HORÁRIOS -->
                </div>
            </div>
        </div>
    </div>
</section>