/* MODAL */
.modal .modal-dialog:not(:has(.card-modal)) {
    max-width: 75dvw;
}

/* BUTTONS */
.btn {

    &.btn-primary {
        background-color: var(--blue-color-primary);
        border: none;
    }

    &.btn-secondary {
        background-color: var(--orange-color-secondary);
        border: none;
        color: var(--black-color-primary);
    }
    
    &.btn-success {
        background-color: var(--blue-color-secondary);
        border: none;
    }
    
    &.btn-info {
        background-color: var(--blue-color-tertiary);
        border: none;
        color: var(--white-color-primary);
    }
    
}
