:root {
    --black-color-primary: #1B1B1B;
    --black-color-secondary: #353535;

    --white-color-primary: #FFF5E8;
    --white-color-secondary: #FDFFE8;

    --blue-color-primary: #043B64;
    --blue-color-secondary: #326A93;
    --blue-color-tertiary: #04645D;
    
    --orange-color-primary: #FE8C1D;
    --orange-color-secondary: #FEA650;
}