<!-- MODAL DE INFORMAÇÕES DO PROJETO -->
<article class="modal fade" id="projectDataInfoModal" tabindex="-1" aria-labelledby="projectDataInfoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content card-modal" id="modalContent">
            <div class="modal-header">
                <h5 class="modal-title" id="nameprojectProjectData"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <!-- <form id="projectInfoForm" class="container">
                    <div class="input-info-group row">
                        <div class="form-floating col-12">
                            <input required name="name_project" type="text" class="form-control"
                                id="nameprojectProjectData">
                            <label for="nameprojectProjectData">Nome do Projeto</label>
                        </div>
                        <div class="form-floating col-12">
                            <input required name="description" type="text" class="form-control"
                                id="descriptionProjectData">
                            <label for="descriptionProjectData">Descrição</label>
                        </div>
                        <div class="form-floating col-6">
                            <input required name="tag" type="text" class="form-control" id="tagProjectData">
                            <label for="tagProjectData">Tag</label>
                        </div>
                        <div class="form-floating col-4">
                            <input required name="createdAt" type="date" class="form-control" id="createdatProjectData">
                            <label for="createdatProjectData">Data de Criação</label>
                        </div>
                        <div class="form-check col-2">
                            <input name="status" class="form-check-input" type="checkbox" id="statusProjectData">
                            <label class="form-check-label" for="statusProjectData">
                                Ativo
                            </label>
                        </div>
                    </div>
                    <div class="action-buttons" id="buttonsContainer">
                        Botões dinâmicos inseridos por JavaScript
                    </div>
                </form> -->
                <div class="info row">
                    <div class="info-description col-12">
                        <h6 class="underline">Descrição do Projeto</h6>
                        <p id="descriptionProjectData"></p>
                    </div>
                    <div class="info-box">
                        <div class="info-box__tag">
                            Tag: <span id="tagProjectData"></span>
                        </div>
                        <div class="info-box__createdat">
                            Criação: <span id="createdatProjectData"></span>
                        </div>
                        <div class="info-box__status">
                            <p id="statusProjectData"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>