<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Sync</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <img src="logo_4.svg" alt="">
        <nav class="header_nav">
            <a href="">Entrar</a>
            <button type="button">
                <p>Cadastrar</p>
            </button>
        </nav>
    </header>

    <main>
        <img src="logo_4.svg" alt="">
        <div class="container">
            <div class="slogan">
                <h1>Facilite a gestão de ponto e produtividade com um clique.</h1>
            </div>
            <p>Conecte agências e empresas em um só lugar.</p>
            <ul>
                <li>Acompanhe jornadas de trabalho</li>
                <li>Saídas e intervalos em tempo real</li>
                <li>Acesse agendas</li>
                <li>Registre entradas</li>
            </ul>
        </div>
    </main>

    <footer></footer>
</body>
<script src="home.js"></script>
</html>