*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #043B64;
    height: 70px;
}

header img{
    height: 50px;
    width: 50px;
    margin-left: 50px;
}

header nav{
    margin-right: 50px;
    display: flex;  
    justify-content: space-between;
    width: 200px;
    align-items: center;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header button{
    background-color: #FFECD1;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 10px;
}

header button p{
    font-size: 20px;
}

header button:hover{
    background-color: #FFECD1;
    cursor: pointer;
}

main{
    height: 100%;
    background-image: linear-gradient( #043B64 10%, #1B1B1B 28%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img{
    height: 250px;
    width: 250px;
    margin-top: 50px;
}



.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.slogan{
    width: 100%
}

.slogan h1{
    color: white;
    font-size: 90px;
    margin-top: 20px;
}

.containerlist{
    width: 100%;
    color: white;
}

.containerlist p{
    margin-top: 100px;
    color: white;
    font-size: 35px;
}



.containerlist ul{
    margin-top: 80px;
    font-size: 35px;
}

.container-nuvem{
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container-nuvem img{
    height: 300px;
    width: 90%;
    height: 75%;
}

.card-descricao{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-descricao .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #7697A0;
    border-radius: 12px;
    height: 30%;
    width: 27%;
}

.card-descricao .card h1{
    font-size: 40px;
    padding: 40px;

}

.card-descricao .card p{
    font-size: 27px;
    padding: 20px;
    
}



footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 100%;
}

footer hr{
    width: 70%;
    margin-bottom: 20px;
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 12%;
}

.container-footer img{
    height: 50px;
    width: 50px;
    margin-right: 50px;
}