<section id="home" class="container-fluid p-0">
    <header>
        <nav class="navbar navbar-expand-md">
            <div class="container container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/assets/img/logos/logo_3.svg" alt="Logotipo 3 PeopleSync">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#homeNavbar"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="homeNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link btn btn-secondary" href="/login" data-link>
                                Entrar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" href="/register" data-link>
                                Cadastrar
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container page-content">
        <article class="hero row">
            <div class="hero-title col-12">
                <h1>
                    People Sync
                </h1>
            </div>
            <div class="hero-description col-12 col-sm-7 col-md-8 col-lg-9">
                <div class="slogan">
                    <h2 class="slogan-title">
                        Facilite a gestão de ponto de produtividade, com um clique.
                    </h2>
                    <p class="slogan-description">
                        Conecte agências e empresas em um só lugar.
                    </p>
                </div>
                <ul class="hero-description__list">
                    <li>Acompanhe jornadas de trabalho</li>
                    <li>Acesse agendas</li>
                    <li>Registre entradas</li>
                    <li>Saídas e intervalos em tempo real</li>
                </ul>
            </div>
            <div class="hero-img col-12 col-sm-5 col-md-4 col-lg-3">
                <img class="col-6 col-sm-12" src="/assets/img/logos/logo_3.svg" alt="Logotipo 3 PropleSync">
            </div>
        </article>
        <article class="cloud row">
            <!-- <img src="/assets/img/Vector.png" alt=""> -->
            <div class="cloud-img col-auto">
                <img src="/assets/img/illustrations/cloud.svg" alt="Ilustração de Nuvem">
                <span class="cloud-text">Tudo na nuvem</span>
            </div>
        </article>
        <article class="aspects row p-0 my-3">
            <div class="aspects-item col-12 col-lg-3">
                <h3>Transparência</h3>
                <p>Acesso fácil às informações de jornada, horas extras e banco de horas</p>
            </div>
            <div class="aspects-item col-12 col-lg-3">
                <h3>Flexibilidade</h3>
                <p>Registro de ponto via aplicativo, adequado para trabalho remoto ou externo</p>
            </div>
            <div class="aspects-item col-12 col-lg-3">
                <h3>Autonomia</h3>
                <p>Solicitações de ajustes e justificativas diretamente pelo sistema</p>
            </div>
        </article>
        <article class="technologies row">
            <div class="technologies-title">
                <h2>Tecnologias</h2>
            </div>
            <div class="technologies-items row">
                <div class="tech-img col-6 col-md-4 col-lg-3">
                    <img src="public/assets/img/technologies/html.svg">
                </div>
                <div class="tech-img col-6 col-md-4 col-lg-3">
                    <img src="public/assets/img/technologies/css.svg">
                </div>
                <div class="tech-img col-6 col-md-4 col-lg-3">
                    <img src="public/assets/img/technologies/javascript.svg">
                </div>
                <div class="tech-img col-6 col-md-4 col-lg-3">
                    <img src="public/assets/img/technologies/node_js.svg">
                </div>
                <div class="tech-img col-6 col-md-4 col-lg-3">
                    <img src="public/assets/img/technologies/n8n.svg">
                </div>
                <div class="tech-img col-6 col-md-4 col-lg-3">
                    <img src="public/assets/img/technologies/mysql.svg">
                </div>
                <div class="tech-img col-6 col-md-4 col-lg-3">
                    <img src="public/assets/img/technologies/swagger.svg">
                </div>
                <div class="tech-img col-6 col-md-4 col-lg-3">
                    <img src="public/assets/img/technologies/docker.svg">
                </div>
            </div>
        </article>
        <article class="develop-team row my-3">
            <div class="develop-team__title">
                <h2>Time People Sync</h2>
            </div>
            <div class="container-fluid">
                <div class="develop-team__components row">
                    <div class="component col-12 col-md-6 col-lg-4">
                        <div class="circle">
                            <img src="public/assets/img/person/santiago.png">
                        </div>
                        <div class="content">
                            <h5>Lucas Santiago</h5>
                            <p>Liderança, engenharia e automação</p>
                        </div>
                    </div>
                    <div class="component col-12 col-md-6 col-lg-4">
                        <div class="circle">
                            <img src="public/assets/img/person/ledro.png">
                        </div>
                        <div class="content">
                            <h5>Pedro Lucas</h5>
                            <p>Design e Desenvolvimento Front-End</p>
                        </div>
                    </div>
                    <div class="component col-12 col-md-6 col-lg-4">
                        <div class="circle">
                            <img src="public/assets/img/person/leo.png">
                        </div>
                        <div class="content">
                            <h5>Leonardo Canalez</h5>
                            <p>Back-end, segurança e dados</p>
                        </div>
                    </div>
                    <div class="component col-12 col-md-6 col-lg-4">
                        <div class="circle">
                            <img src="public/assets/img/person/rafael.png">
                        </div>
                        <div class="content">
                            <h5>Rafael Santos</h5>
                            <p>Engenharia e desenvolvimento front-end</p>
                        </div>
                    </div>
                    <div class="component col-12 col-md-6 col-lg-4">
                        <div class="circle">
                            <img src="public/assets/img/person/selliny.png">
                        </div>
                        <div class="content">
                            <h5>Selliny Sampaio</h5>
                            <p>Desenvolvimento
                                e Documentação</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <footer>
        <img src="/assets/img/logos/logo_5.svg" alt="Logotipo 5 PeopleSync">
        <span>2025 © People Sync</span>
    </footer>
</section>