<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Sync</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <img src="logo_4.svg" alt="">
        <nav class="header_nav">
            <a href="">Entrar</a>
            <button type="button">
                <p>Cadastrar</p>
            </button>
        </nav>
    </header>

    <main>
        <img src="logo_4.svg" alt="">
        <div class="container">
            <div class="slogan">
                <h1>FACILITE A GESTÃO DE PONTO E PRODUTIVIDADE COM UM CLIQUE.</h1>
            </div>
            <div class="containerlist">
                <p><u>Conecte agências e empresas em um só lugar.</u></p>
                <ul>
                    <li>Acompanhe jornadas de trabalho</li>
                    <li>Acesse agendas</li>
                    <li>Registre entradas</li>
                    <li>Saídas e intervalos em tempo real</li>
                </ul>
            </div>
        </div>

        <div class="container-nuvem">
            <img src="Vector.png" alt="">
        </div>

        <div class="card-descricao">
            <div class="card 1">
                <h1>TRANSPARÊNCIA</h1>
                <p>Acesso fácil às informações de jornada, horas extras e banco de horas</p>
            </div>
            <div class="card 2">
                <h1>FLEXIBILIDADE</h1>
                <p>Registro de ponto via aplicativo, adequado para trabalho remoto ou externo</p>
            </div>
            <div class="card 3">
                <h1>AUTONOMIA</h1>
                <p>Solicitações de ajustes e justificativas diretamente pelo sistema</p>
            </div>
        </div>
    </main>

    <footer>
        <hr>
        <div class="container-footer">
            <img src="logo_4.svg" alt="">
            <p>© 2025 People Sync</p>
        </div>
    </footer>
</body>
<script src="home.js"></script>
</html>