<section id="pageSection">
    <div id="employeesPage">
        <div class="page-title">
            <component src="public/component/sidebar/sidebar.html"></component>
            <h1>
                Página de Funcionários
            </h1>
        </div>
        <div class="container-fluid">
            <div id="employeesContainer" class="row gy-2">
                <!-- CARDS DE FUNCIONÁRIOS -->
            </div>
        </div>
    </div>
</section>

<component src="public/component/employee-card-info/employee-card-info.html"></component>