<section class="offcanvas offcanvas-start" tabindex="-1" id="projectSidebar" aria-labelledby="projectSidebarLabel">
    <article class="offcanvas-header">
        <h4 id="projectSidebarLabel">
            Rafael Santos da Silva
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </article>

    <div class="offcanvas-body">
        <div class="info-box">
            <div class="info-box__role">
                Cargo: Desenvolvedor Junior
            </div>
            <div class="info-box__register">
                Matrícula: 117612
            </div>
        </div>
        <div class="categories-box">
            <div class="categories-box__horarios">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <i class="bi bi-clock"></i>
                        Horários
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <button class="btn btn-secondary">
                                Registrar Ponto
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="categories-box__projetos">
                <div class="dropdown">
                    <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <i class="bi bi-kanban"></i>
                        Projetos
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <button class="btn btn-info">
                                Visualizar Projetos
                            </button>
                        </li>
                        <li class="dropdown-item">
                            <button class="btn btn-primary">
                                Registrar Projeto
                            </button>
                        </li>
                        <li class="dropdown-item">
                            <button class="btn btn-outline-danger">
                                Remover Projeto
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="categories-box__funcionarios">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <i class="bi bi-person-raised-hand"></i>
                        Funcionários
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <button class="btn btn-info">
                                Visualizar Funcionários
                            </button>
                        </li>
                        <li class="dropdown-item">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#employeeCreateModal">
                                Registrar Funcionário
                            </button>
                        </li>
                        <li class="dropdown-item">
                            <button class="btn btn-outline-danger">
                                Remover Funcionário
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<button class="menu-button sidebar-button-open" type="button" data-bs-toggle="offcanvas" data-bs-target="#projectSidebar"
    aria-controls="projectSidebar">
    <i class="bi bi-list"></i>
</button>

<component src="public/component/employee-create/employee-create.html"></component>