<section id="login">
    <article class="left-box">
        <div class="top-logo-box">
            <div class="logo-box">
                <a href="/" data-link>
                    <img src="./public/assets/img/logo/logo_4.svg" alt="Logotipo Peoplesync">
                </a>
            </div>
            <div class="titles-box">
                <h1>People Sync</h1>
                <h2>Seu tempo, nossa precisão!</h2>
            </div>
        </div>
        <div class="login-box">
            <form class="form-box" id="loginForm">
                <div class="form-floating">
                    <input class="form-control" name="register" id="matricula" type="number" minlength="6" placeholder="Matrícula">
                    <label for="register">Matrícula</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" name="password" id="password" type="password" placeholder="Senha">
                    <label for="password">Senha</label>
                </div>
                <div class="button-box">
                    <button id="submitButton" type="submit">
                        Entrar
                    </button>
                </div>
            </form>
            <div class="register-redirect-box">
                <span class="redirect-text">Ainda não possui cadastro? </span>
                <a href="/register" data-link id="registerButton">Registre-se</a>
            </div>
        </div>
    </article>
    <article class="right-box">
        <img src="./public/assets/img/illustrations/login.svg" alt="" class="login-img">
    </article>
</section>