<section id="login">
    <article class="left-box">
        <div class="top-logo-box">
            <div class="logo-box">
                <a href="/home">
                    <img src="public/assets/img/logo/logo_4.svg" alt="Logotipo Peoplesync">
                </a>
            </div>
            <div class="titles-box">
                <h1>People Sync</h1>
                <h2>Seu tempo, nossa precisão!</h2>
            </div>
        </div>
        <div class="login-box">
            <div class="form-box">
                <div class="form-floating">
                    <input class="form-control" id="emailInput" type="email" placeholder="Email">
                    <label for="emailInput">Email</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="passwordInput" type="password" placeholder="Senha">
                    <label for="passwordInput">Senha</label>
                </div>
                <div class="button-box">
                    <button id="submitButton" type="submit">
                        Entrar
                    </button>
                </div>
            </div>
            <div class="register-redirect-box">
                <span class="redirect-text">Ainda não possui cadastro? </span>
                <a href="/register" id="registerButton">Registre-se</a>
            </div>
        </div>
    </article>
    <article class="right-box">
        <img src="public/assets/img/illustrations/login.svg" alt="" class="login-img">
    </article>
</section>