<article class="modal fade" id="employeeDataInfoModal" tabindex="-1" aria-labelledby="employeeDataInfoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeDataInfoModalLabel">Informações do funcionário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <form id="employeeInfoForm" class="container">
                    <div class="input-info-group row">
                        <div class="form-floating col-12">
                            <input required name="name" type="text" class="form-control" id="nameUpdateInput">
                            <label for="nameUpdateInput">Nome do Funcionário</label>
                        </div>
                        <div class="form-floating col-12">
                            <input required name="email" type="email" class="form-control" id="emailUpdateInput"
                                placeholder="Email">
                            <label for="emailUpdateInput">Email</label>
                        </div>
                        <div class="form-floating col-6">
                            <input required name="birthDate" type="date" class="form-control" id="birthdateUpdateInput"
                                placeholder="Data de nascimento">
                            <label for="birthdateUpdateInput">Data de nascimento</label>
                        </div>
                        <div class="col-3">
                            <!-- <label for="genderInput" class="form-label">Sexo</label> -->
                            <select class="form-select form-control" required name="gender" aria-label="Sexo"
                                id="genderUpdateInput">
                                <option selected>Sexo</option>
                                <option value="masculino">Masculino</option>
                                <option value="feminino">Feminino</option>
                                <option value="outro">Outro</option>
                            </select>
                        </div>
                        <div class="form-check col-3">
                            <input name="pcd" class="form-check-input" type="checkbox" id="pcdUpdateInput">
                            <label class="form-check-label" for="pcdUpdateInput">
                                PCD
                            </label>
                        </div>
                    </div>
                    <div class="input-info-group row">
                        <div class="col-6">
                            <select required name="contractType" class="form-select form-control"
                                id="contracttypeUpdateInput">
                                <option value="">Contratação</option>
                                <option value="clt">CLT</option>
                                <option value="pj">PJ</option>
                                <option value="estagiario">Estagiário</option>
                            </select>
                            <!-- <label for="contractInput">Contrato</label> -->
                        </div>
                        <div class="col-6">
                            <select required name="type" class="form-select form-control" id="typeUpdateInput">
                                <option value="">Tipo de Usuário</option>
                                <option value="comum">Comum</option>
                                <option value="admin">Admin</option>
                            </select>
                            <!-- <label for="typeInput">Tipo de Usuário</label> -->
                        </div>
                        <div class="form-floating col-12">
                            <input required name="role" type="text" class="form-control" id="roleUpdateInput"
                                placeholder="Cargo">
                            <label for="roleUpdateInput">Cargo</label>
                        </div>
                    </div>
                    <div class="input-info-group row">
                        <div class="form-floating">
                            <input required name="register" type="text" class="form-control" id="registerUpdateInput"
                                placeholder="Matrícula">
                            <label for="registerUpdateInput">Matrícula</label>
                        </div>
                    </div>
                    <div class="action-buttons" id="buttonsContainer"> 
                        <!-- Botões dinâmicos inseridos por JavaScript -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>